In [18]:
import pandas as pd

In [19]:
ls

 Volume in drive F is New Volume
 Volume Serial Number is DA77-3A36

 Directory of F:\ETG_INTERNSHIP

24/09/2021  19:17    <DIR>          .
24/09/2021  19:17    <DIR>          ..
24/09/2021  14:28    <DIR>          .ipynb_checkpoints
21/09/2021  14:45             2,621 Conditional Statements.ipynb
22/09/2021  20:42    <DIR>          Data Structures
21/09/2021  14:45            18,775 Data Types.ipynb
24/09/2021  14:52               234 Data.csv
22/09/2021  13:50    <DIR>          Loops
24/09/2021  12:52    <DIR>          NEW
24/09/2021  14:25            10,308 Numpy.ipynb
24/09/2021  12:53            10,281 operatingsystem.ipynb
21/09/2021  14:45            13,489 Operators.ipynb
24/09/2021  19:17            12,740 Pandas.ipynb
               7 File(s)         68,448 bytes
               6 Dir(s)  340,647,206,912 bytes free

In [20]:
df=pd.read_csv('Data.csv')

In [21]:
df

   Country   Age   Salary purchased
0   France  44.0  72000.0        no
1    Spain  27.0  48000.0       yes
2  Germany  30.0  54000.0        no
3    Spain  38.0  61000.0        no
4  Germany  40.0      NaN       yes
5   France  35.0  58000.0       yes
6    Spain   NaN  52000.0        no
7   France  48.0  79000.0       yes
8  Germany  50.0  83000.0        no
9   France  37.0  67000.0       yes

In [22]:
df['Country']

0     France
1      Spain
2    Germany
3      Spain
4    Germany
5     France
6      Spain
7     France
8    Germany
9     France
Name: Country, dtype: object

In [12]:
type(df['Country'])

pandas.core.series.Series

In [15]:
#converting pandas.core.series.Series type of data to a NUMPY array

country=df['Country'].values
country

array(['France', 'Spain', 'Germany', 'Spain', 'Germany', 'France',
       'Spain', 'France', 'Germany', 'France'], dtype=object)

In [16]:
age=df['Age'].values
age

array([44., 27., 30., 38., 40., 35., nan, 48., 50., 37.])

In [23]:
#whole data into array format

data=df.values
data

array([['France', 44.0, 72000.0, 'no'],
       ['Spain', 27.0, 48000.0, 'yes'],
       ['Germany', 30.0, 54000.0, 'no'],
       ['Spain', 38.0, 61000.0, 'no'],
       ['Germany', 40.0, nan, 'yes'],
       ['France', 35.0, 58000.0, 'yes'],
       ['Spain', nan, 52000.0, 'no'],
       ['France', 48.0, 79000.0, 'yes'],
       ['Germany', 50.0, 83000.0, 'no'],
       ['France', 37.0, 67000.0, 'yes']], dtype=object)

In [24]:
data[:][1]

array(['Spain', 27.0, 48000.0, 'yes'], dtype=object)

In [27]:
data[:3][:]

array([['France', 44.0, 72000.0, 'no'],
       ['Spain', 27.0, 48000.0, 'yes'],
       ['Germany', 30.0, 54000.0, 'no']], dtype=object)

In [28]:
data[:3,:]

array([['France', 44.0, 72000.0, 'no'],
       ['Spain', 27.0, 48000.0, 'yes'],
       ['Germany', 30.0, 54000.0, 'no']], dtype=object)

In [29]:
data[2:,2:]

array([[54000.0, 'no'],
       [61000.0, 'no'],
       [nan, 'yes'],
       [58000.0, 'yes'],
       [52000.0, 'no'],
       [79000.0, 'yes'],
       [83000.0, 'no'],
       [67000.0, 'yes']], dtype=object)