## LIST

In [1]:
names = []

In [2]:
names

[]

In [3]:
names.append("Vanshika")

In [4]:
names

['Vanshika']

In [5]:
names.append("Jigyasa")
names

['Vanshika', 'Jigyasa']

In [6]:
students= []
English = []
Maths=[]

In [7]:
number_of_students = int(input("Enter the number of students: "))

for i in range(number_of_students):
    students.append(input("Enter the name of student: "))
    English.append(int(input("Enter the marks obtained in english: ")))
    Maths.append(int(input("Enter the marks obtained in maths: ")))

Enter the number of students: 2
Enter the name of student: vanshika
Enter the marks obtained in english: 23
Enter the marks obtained in maths: 45
Enter the name of student: mani
Enter the marks obtained in english: 45
Enter the marks obtained in maths: 75

In [8]:
students

['vanshika', 'mani']

In [9]:
English

[23, 45]

In [10]:
Maths

[45, 75]

In [11]:
data=[students,English,Maths]
data

[['vanshika', 'mani'], [23, 45], [45, 75]]

In [12]:
data[0]

['vanshika', 'mani']

In [23]:
data[1]

[23, 45]

In [24]:
data[0][1]

'mani'

In [25]:
len(data)

3

In [26]:
len(data[0])

2

In [27]:
#mani's maths marks 
data[2][1]

75

In [29]:
for i in range(len(data[0])):
    print(data[1][i])                        #marks in english

23
45

In [13]:
lst = [1,23,34,45,67]

In [14]:
lst[2]

34

In [15]:
len(lst)      #number of elements

5

In [16]:
#printing all the values of list
for i in range(len(lst)):
    print(lst[i])

1
23
34
45
67

In [17]:
#printing all the values of list
for i in lst:
    print(i)

1
23
34
45
67

In [18]:
#accesing all values
lst[:]

[1, 23, 34, 45, 67]

In [19]:
lst[:3]      #first three

[1, 23, 34]

In [20]:
lst[2:]      #from second index

[34, 45, 67]

In [21]:
lst[0:3]

[1, 23, 34]

In [22]:
#reversing the list
lst[::-1]

[67, 45, 34, 23, 1]

In [5]:
#To remove the duplicates, we use 'set'

list1= [1,2,4,4,5,6,6,7,8,6,7,2]
st= set(list1)
st

{1, 2, 4, 5, 6, 7, 8}

In [6]:
st[0]

TypeError: 'set' object is not subscriptable

In [9]:
#To access the element from set, we convert it to a list 

st= list(st)
st

[1, 2, 4, 5, 6, 7, 8]

In [11]:
list1 = [1,2,3,4,5,6,7,8,9]
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [12]:
max(list1)

9

In [13]:
sum(list1)

45

In [14]:
list1.count(1)      #counting the frequency of numner-1

1

In [16]:
s=0;
for i in list1:
    s=s+i;
    
s

45

In [18]:
s/float(len(list1))

5.0

In [19]:
s/len(list1)

5.0

In [20]:
len(list1)

9