In [1]:
lst= [[1,2,3,4],
      [5,6,7,8],
      [7,8,9,0]]

In [2]:
lst

[[1, 2, 3, 4], [5, 6, 7, 8], [7, 8, 9, 0]]

In [3]:
lst[0]

[1, 2, 3, 4]

In [4]:
lst[0][1]

2

In [5]:
lst[1][2]

7

In [6]:
#except first row
lst[1:]

[[5, 6, 7, 8], [7, 8, 9, 0]]

In [7]:
lst[1:][1:]

[[7, 8, 9, 0]]

In [8]:
lst1 = [[[1,0,0],[2,0,0],[3,0,0]],
        [[4,0,0],[5,0,0],[6,0,0]],
        [[7,0,0],[8,0,0],[9,0,0]]]

In [9]:
lst1

[[[1, 0, 0], [2, 0, 0], [3, 0, 0]],
 [[4, 0, 0], [5, 0, 0], [6, 0, 0]],
 [[7, 0, 0], [8, 0, 0], [9, 0, 0]]]

In [10]:
lst1[0][0]

[1, 0, 0]

In [12]:
lst1[2][2][0]

9

In [13]:
#        Roll No, Name, Eng, Hin, Pun, Sci, Math

record = [[1, "Shivam" , 75,  85, 75 , 86 , 86],
          [2, "Divya"  , 85,  85, 76 , 96 , 82],
          [3, "Devansh", 46,  65, 67 , 46 , 96],
          [4, "Dev"    , 43,  55, 68 , 36 , 66]]

In [14]:
record

[[1, 'Shivam', 75, 85, 75, 86, 86],
 [2, 'Divya', 85, 85, 76, 96, 82],
 [3, 'Devansh', 46, 65, 67, 46, 96],
 [4, 'Dev', 43, 55, 68, 36, 66]]

In [19]:
for i in record:
    print(i)

[1, 'Shivam', 75, 85, 75, 86, 86]
[2, 'Divya', 85, 85, 76, 96, 82]
[3, 'Devansh', 46, 65, 67, 46, 96]
[4, 'Dev', 43, 55, 68, 36, 66]

In [20]:
for i in record:
    print(i[0])

1
2
3
4

In [21]:

roll_no = int(input("Enter the roll number: "))

for i in record:
  if (i[0] == roll_no):
    print("***********")
    print("Name: ",i[1])
    print("Eng: ",i[2])
    print("Hin: ",i[3])
    print("Pun: ",i[4])
    print("Sci: ",i[5])
    print("Math: ",i[6])

    avg = ((i[2] + i[3] + i[4] + i[5] + i[6])/500)*100

    print("Average: ", avg)

Enter the roll number: 2
***********
Name:  Divya
Eng:  85
Hin:  85
Pun:  76
Sci:  96
Math:  82
Average:  84.8

In [22]:
data = []

for i in record:
  
  avg = (i[2] + i[3] + i[4] + i[5] + i[6])/5

  if (avg > 90 and avg < 100):
    grade = "A+"
  if (avg > 80 and avg < 90):
    grade = "A"
  if (avg > 70 and avg < 80):
    grade = "B+"
  if (avg > 60 and avg < 70):
    grade = "B"
  if (avg > 50 and avg < 60):
    grade = "C"
  if (avg < 50 ):
    grade = "F"

  data.append([i[0],i[1], avg, grade])

In [23]:
data

[[1, 'Shivam', 81.4, 'A'],
 [2, 'Divya', 84.8, 'A'],
 [3, 'Devansh', 64.0, 'B'],
 [4, 'Dev', 53.6, 'C']]

In [24]:
record

[[1, 'Shivam', 75, 85, 75, 86, 86],
 [2, 'Divya', 85, 85, 76, 96, 82],
 [3, 'Devansh', 46, 65, 67, 46, 96],
 [4, 'Dev', 43, 55, 68, 36, 66]]

In [25]:
for i in record:
    print(sum(i[2:])/len(i[2:]))

81.4
84.8
64.0
53.6