In [1]:
data= [['Rahul','Rohan','Rashmi'],       #students
       [82, 89, 78],                     #English
       [56, 42, 21],                     #Maths
       [49, 52, 90]]                     #OS

In [2]:
for i in data:
    print(i)

['Rahul', 'Rohan', 'Rashmi']
[82, 89, 78]
[56, 42, 21]
[49, 52, 90]

In [3]:
data[0][0]

'Rahul'

In [4]:
for i in data:
    print(i[0])         #Rahul's marks

Rahul
82
56
49

In [5]:
for i in data:
    print(i)
    for j in i:
        print(j)

['Rahul', 'Rohan', 'Rashmi']
Rahul
Rohan
Rashmi
[82, 89, 78]
82
89
78
[56, 42, 21]
56
42
21
[49, 52, 90]
49
52
90

In [6]:
for i in data:
    for j in i:
        print(j)

Rahul
Rohan
Rashmi
82
89
78
56
42
21
49
52
90